.courses__container {
    width: 1170px;
    padding: 70px 15px 80px 15px;
    margin: 0 auto;
}
.courses__title {
    margin-bottom: 40px;
    font-size: 58px;
    font-weight: 500;
    line-height: 1.2;
}
.courses__img {
    margin-bottom: 40px;
}
.courses__subtitle {
    margin-bottom: 25px;
}
.courses__text-first {
    padding-bottom: 15px;
}
.courses__text-second {
    padding-bottom: 15px;
}
.courses__text-third {
    padding-bottom: 15px;
}