.discount {
    background-image: url('../img/discount/funnygirl.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1440px;
    margin: 0 auto;
}
.discount__container {
    width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
}
.discount__content {
    padding: 120px 0px;
    margin-left: auto;
    width: 508px;
}
.discount__title {
    margin-bottom: 20px;

    font-size: 58px;
    font-weight: 500;
    line-height: 1.2;
}
.discount__subtitle {
    margin-bottom: 50px;
}
.discount__button {
    padding: 20px 68px;
    &:hover{
        color: #353A5A;
    }
}