.footer__container {
    padding-bottom: 30px;
}
.footer__body {
    display: flex;
    justify-content: center;

    margin-bottom: 80px;
}
.footer__content {
    margin-right: 100px;
}
.footer__logo {
    margin-bottom: 27px;
}
.footer__icon-logo {
    width: 28px;
    height: 22px;
}
.footer__icon-text {
    width: 130px;
    height: 22px;
    fill: $color-text;
}
.footer__text {
    margin-bottom: 47px;

    font-size: 14px;
    line-height: 1.2;
}
.footer__social {
    display: flex;
    column-gap: 25px;
}
.footer__item-icon {
    width: 28px;
    height: 30px;
    fill: $color-text;
}
.footer__list {
    display: flex;
    margin-right: 68px;
    column-gap: 90px;
}
.footer__list-item {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.last {
    width: 132px;
}
.footer__list-title {
    margin-bottom: 11px;

    font-size: 16px;
    font-weight: 500;
    line-height: 1;
}
.footer__list-link {
    &:hover {
        text-decoration: underline;
    }
}
.footer__list-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: $color-text;
}
.footer__questions-title {
    margin-bottom: 30px;
    width: 182px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
}
.footer__questions-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: $color-text;
    border-bottom: 1px solid $color-text;
}
.footer__bottom {
    display: flex;

    font-size: 14px;
    line-height: 1;
}
.footer__bottom-copy {
    margin-right: auto;
}
.footer__bottom-link {
    color: $color-text;
}
.footer__bottom-policy {
    margin-right: 30px;
}
@media screen and (max-width: 1199.98px){
    .footer__content {
        margin-right: 50px;
    }
    .footer__list {
        margin-right: 40px;
        column-gap: 45px;
    }
}
@media screen and (max-width: 991.98px){
    .footer__container{
        padding-top: 60px;
    }
    .footer__body {
        flex-wrap: wrap;
        justify-content: flex-start;
        row-gap: 40px;
    }
    .footer__logo {
        margin-bottom: 15px;
    }
    .footer__text {
        margin-bottom: 20px;
    }
    .footer__questions-title {
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 767.98px){
    .footer__container{
        padding-top: 30px;
    }
    .footer__body {
        margin-bottom: 40px;
    }
    .footer__bottom {
        flex-wrap: wrap;
        gap: 20px;
    }
}
@media screen and (max-width: 479.98px){
    .footer__list {
        flex-wrap: wrap;
        margin-right: 0px;
        gap: 30px;
    }
}