.footer {
}
.footer__container {
}
.footer__body {
}
.footer__content {
}
.footer__logo {
}
.footer__icon-logo {
    width: 28px;
    height: 22px;
}
.footer__icon-text {
    width: 130px;
    height: 22px;
    fill: $color-text;
}
.footer__text {
}
.footer__social {
}
.footer__item {
    width: 28px;
    height: 30px;
    fill: $color-text;
}
.footer__item-icon {
}
.footer__list {
}
.footer__list-item {
}
.footer__list-title {
}
.footer__list-link {
}
.footer__list-subtitle {
}
.footer__questions {
}
.footer__questions-title {
}
.footer__questions-subtitle {
}
.footer__questions-link {
}
.footer__bottom {
}
.footer__bottom-copy {
}
.footer__bottom-link {
}
.footer__bottom-policy {
}
.footer__bottom-public {
}