.header-courses__container {
    padding-top: 0px;
    padding-bottom: 0px;
}
.header-courses__body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.header-courses__logo-link {
    display: flex;
    align-items: center;
}
.header-courses__logo-icon {
    width: 28px;
    height: 30px;
}
.header-courses__logo-text {
    padding-left: 10px;
    width: 130px;
    height: 22px;
    fill: $color-text;
}
.header-courses__nav {
    margin-left: auto;
}
.header-courses__list {
    display: flex;
    justify-content: center;
    column-gap: 40px;
}
.header-courses__link {
    color: $color-text;
    font-weight: 500;
    line-height: 1;
    &:hover,
    &:focus{
        padding-bottom: 8px;
        border-bottom: 2px dashed #FA9F42;
    }
}
.header-courses__burger-icon {
    display: none;
    width: 40px;
    height: 40px;
    fill: $color-text;
}
@media screen and (max-width: 991.98px){
    .header-courses__body {
        column-gap: 30px;
        padding: 20px 0px 20px 0px;
    }
    .header-courses__list {
        column-gap: 20px;
    }
}
@media screen and (max-width: 767.98px){
    .header-courses__body {
        justify-content: space-around;
    }
    .header-courses__nav {
        display: none;
    }
    .header-courses__burger-icon {
        display: block;
    }
}