.header {
    background-color: $color-green;
}
.header__body {
    display: flex;
    align-items: center;
    column-gap: 80px;
    padding: 40px 0px 40px 0px;
}
.header__container {
    padding-top: 0px;
    padding-bottom: 0px;
}
.header__list {
    display: flex;
    justify-content: center;
    column-gap: 40px;
}
.header__link {
    color: $color-bg;
    font-weight: 500;
    line-height: 1;
    &:hover,
    &:focus{
        padding-bottom: 8px;
        border-bottom: 2px dashed $orange-button;
    }
}
.header__burger-icon {
    display: none;
    width: 40px;
    height: 40px;
    fill: $color-bg;
}
@media screen and (max-width: 991.98px){
    .header__body {
        column-gap: 30px;
        padding: 20px 0px 20px 0px;
    }
    .header__list {
        column-gap: 20px;
    }
}
@media screen and (max-width: 767.98px){
    .header__body {
        justify-content: space-around;
    }
    .header__nav {
        display: none;
    }
    .header__burger-icon {
        display: block;
    }
}
