.hero {
    background-color: $color-green;
}
.hero__container {
    width: 1200px;
    margin: 0 auto;
    padding: 0px 15px 120px 15px;
}
.hero__body {
    display: flex;
}
.hero__social {
    margin-bottom: 104px;
}
.hero__items {
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0px;
    }
}
.hero__link {
    position: relative;
}
.hero__icon {
    display: block;
    width: 22px;
    height: 22px;
    fill: $color-bg;
}
.hero__box-img-bottom {
    position: relative;
}
.hero__img-bottom {
    position: relative;
    z-index: 1000;
}
.hero__img-dashlinedown {
    position: absolute;
    z-index: 10;
    top: -30px;
    right: -30px;
    width: 240px;
    height: 300px;
}
.hero__content {
    width: 542px;
    margin: 0 auto;
    text-align: center;
}
.hero__box-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 92px;
    margin-bottom: 40px;
}
.hero__logo-link {
    display: flex;
    align-items: center;
}
.hero__logo-icon {
    width: 28px;
    height: 30px;
}
.hero__logo-text {
    padding-left: 10px;
    width: 130px;
    height: 22px;
    fill: $color-bg;
}
.hero__title {
    font-size: 58px;
    font-weight: 500;
    line-height: 1.2;
    color: $color-bg;
    margin-bottom: 20px;
}
.hero__subtitle {
    color: $color-bg;
    margin-bottom: 50px;
}
.hero__button {
    padding: 20px 47px;
}
.hero__box-right {
    position: relative;
    padding-top: 30px;
}
.hero__img-top {
    margin-bottom: 101px;
    position: relative; 
    z-index: 100;
}
.hero__img-dashline-top {
    position: absolute;
    z-index: 10;
    width: 240px;
    height: 300px;
    top: 0px;
    right: 30px;
}
.hero__navigation {
    position: relative;
    right: -110px;
    bottom: 0;

    display: flex;
    align-items: center;
    gap: 15px;

    font-size: 14px;
    line-height: 1;
    color: $color-bg;
    transform: rotate(-90deg);
    cursor: pointer;
}
.hero__arrow {
    width: 16px;
    height: 20px;
    transform: rotate(90deg);
}