.join {
    background-image: url('../img/join/note.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}
.join__container {
    padding-top: 0px;
    padding-bottom: 0px;
}
.join__content {
    padding: 120px 0px;
    margin-left: auto;
    width: 508px;
}
.join__title {
    margin-bottom: 20px;

    font-size: 58px;
    font-weight: 500;
    line-height: 1.2;
}
.join__subtitle {
    margin-bottom: 50px;
}
.join__button {
    padding: 20px 56px;
    &:hover,
    &:focus{
        color: #353A5A;
    }
}
@media screen and (max-width: 1199.98px){
    .join__title {    
        font-size: 48px;
    }
}
@media screen and (max-width: 991.98px){
    .join__container{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .join__title {    
        font-size: 38px;
    }
}
@media screen and (max-width: 767.98px){
    .join__container{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .join__title {    
        font-size: 28px;
    }
}