.knoweledge {
    background-color: $color-green;
}
.knoweledge__body {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
}
.knoweledge__img {
    position: relative;
    z-index: 100;
}
.knoweledge__img-dashline {
    position: absolute;
    z-index: 10;
    width: 540px;
    height: 286px;
    top: -20px;
    right: 35px;
}
.knoweledge__content {
    margin-right: 90px;
    color: $color-bg;
}
.knoweledge__title {
    margin-bottom: 20px;
    font-size: 58px;
    font-weight: 500;
    line-height: 1.2;
}
.knoweledge__text {
    margin-bottom: 50px;
    width: 478px;
}
.knoweledge__button {
    padding: 20px 68px;
}