.knoweledge {
    background-color: $color-green;
}
.knoweledge__body {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
}
.knoweledge__img {
    position: relative;
    z-index: 100;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.knoweledge__img-dashline {
    position: absolute;
    z-index: 10;
    width: 540px;
    height: 286px;
    top: -20px;
    right: 35px;
}
.knoweledge__content {
    margin-right: 90px;
    color: $color-bg;
}
.knoweledge__title {
    margin-bottom: 20px;
    font-size: 58px;
    font-weight: 500;
    line-height: 1.2;
}
.knoweledge__text {
    margin-bottom: 50px;
    max-width: 478px;
}
.knoweledge__button {
    padding: 20px 68px;
}
@media screen and (max-width: 1199.98px){
    .knoweledge__title {    
        font-size: 48px;
    }
    .knoweledge__content {
        margin-right: 40px;
    }
}
@media screen and (max-width: 991.98px){
    .knoweledge__container{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .knoweledge__body {
        flex-direction: column-reverse;
    }
    .knoweledge__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 0px;
    }
    .knoweledge__title {    
        font-size: 38px;
    }
    .knoweledge__text {
        margin-bottom: 20px;
    }
    .knoweledge__img {
        margin-top: 20px;
    }
    .knoweledge__img-dashline {
        display: none;
    }
}
@media screen and (max-width: 767.98px){
    .knoweledge__container{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .knoweledge__title {    
        font-size: 28px;
    }
}