.oncourses__title {
    margin-bottom: 85px;

    font-size: 58px;
    font-weight: 500;
    line-height: 1;
}
.oncourses__list {
    margin-bottom: 80px;

    display: flex;
    column-gap: 30px;
}
.oncourses__item {
}
.oncourses__list-title {
    margin-bottom: 15px;
    font-weight: 500;
    line-height: 1;
}
.oncourses__subtitle {
    padding: 0px 15px 25px 15px;
    font-size: 14px;
    line-height: 1.2;
}
.oncourses__button {
    padding: 20px 46px;
    font-weight: 500;
    line-height: 1;
}
