.popular__title {
    margin-bottom: 60px;

    font-size: 58px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
}
.popular__list {
    display: flex;
    gap: 30px;
    margin-bottom: 60px;
}
.popular__item {
    max-width: 270px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 30px 0px rgba(101, 101, 101, 0.12);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        box-shadow: 5px 5px 30px 0px rgba(101, 101, 101, 0.4);
    }
}
.popular__img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.popular__subtitle {
    margin-top: 15px;
    font-weight: 500;
}
.popular__box-button {
    text-align: center;
}
.popular__button {
    padding: 20px 74px;
}
@media screen and (max-width: 1199.98px){
    .popular__list {
        flex-wrap: wrap;
        justify-content: center;
    }
    .popular__title {    
        font-size: 48px;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 991.98px){
    .popular__container{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .popular__title {    
        font-size: 38px;
    }
    .popular__list {
        display: flex;
        gap: 15px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 767.98px){
    .popular__container{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .popular__title {    
        font-size: 28px;
    }
    .popular__img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}