.popular {
}
.popular__container {
}
.popular__body {
}
.popular__title {
    font-size: 58px;
    font-weight: 500;
    line-height: 1;
}
.popular__list {
}
.popular__item {
}
.popular__img {
}
.popular__button {
    padding: 20px 74px;
}
