.statistic__container {
    padding-top: 0px;
}
.statistic__list {
    display: flex;
    gap: 30px;
}
.statistic__item {
    text-align: center;
}
.statistic__title {
    margin-bottom: 15px;

    font-size: 58px;
    font-weight: 500;
    line-height: 1;
    color: $color-green;
}
.statistic__subtitle {
    max-width: 274px;
    font-size: 14px;
    line-height: 1.2;
}
@media screen and (max-width: 1199.98px){
    .statistic__title {    
        font-size: 48px;
    }
}
@media screen and (max-width: 991.98px){
    .statistic__container{
        padding-bottom: 60px;
    }
    .statistic__list {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }
    .statistic__title {    
        font-size: 38px;
    }
}
@media screen and (max-width: 767.98px){
    .statistic__container{
        padding-bottom: 30px;
    }
    .statistic__title {    
        font-size: 28px;
    }
}