.study__body {
    display: flex;
}
.study__content {
    width: 48%;
    margin-right: 100px;
}
.study__title {
    margin-bottom: 20px;

    font-size: 58px;
    font-weight: 500;
    line-height: 1;
}
.study__text-more {
    margin-bottom: 20px;
}
.study__text-little {
    margin-bottom: 50px;
}
.study__button {
    padding: 20px 38px;
}
.study__foto-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

    width: 55%;
}
.study__item {
    width: 170px;
}
.study__subtitle {
    font-size: 14px;
    line-height: 1.2;
    text-align: center;

    margin-top: 15px;
}
@media screen and (max-width: 1199.98px){
    .study__title {    
        font-size: 48px;
    }
}
@media screen and (max-width: 991.98px){
    .study__container{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .study__content {
        margin-right: 50px;
    }
    .study__title {    
        font-size: 38px;
    }
    .study__text-little {
        margin-bottom: 20px;
    }
    .study__foto-list {
        gap: 15px;
    }
}
@media screen and (max-width: 767.98px){
    .study__container{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .study__body {
        flex-direction: column;
    }
    .study__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
    }
    .study__title {    
        font-size: 28px;
    }
    .study__foto-list {  
        justify-content: center;  
        width: 100%;
    }
}